<div class="full-screen-wrapper">  
  <div id="map-button-container" class="full-screen-wrapper">
    <div #map id="map"></div>
    <div id="action-buttons" class="translucent-bg">
      <div class="cta-question">Found litter?</div>
      <div class="button-container">
        <button (click)="goToImageCapture()">Capture it</button>
        <button (click)="goToItemLookup()">Look it up</button>
      </div>
    </div>
  </div>
  
  <div id="user-info" class="translucent-bg" *ngIf="_user._currentUser | async as user ;else noLogin">
    <a [routerLink]="['/user-info']">
      <img [src]="user.profile.value">
    </a>
    <span >{{ (user.balance / 100) | currency:'AUD':'$' }}</span>
  </div>

  <ng-template #noLogin>
    <div id="user-info" class="translucent-bg">
        <button id="sign-in" (click)="goToSignIn()">Sign in to start collecting<br>Container Refund credit</button>
    </div>
  </ng-template>

</div>
