#map {
    background: #ddd;
}

#user-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;

    padding: 1rem 0.5rem;
    color: #fff;
}

#map-button-container {
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
}

#action-buttons {
    flex-shrink: 0;
    flex-grow: 0;

    text-align: center;
    color: #fff;

    .cta-question {
        padding: 0.3rem;
        background: green;
    }

    .button-container {
        display: flex;

        & > button {
            flex-shrink: 0;
            flex-grow: 1;
            height: 10rem;

            display: block;
            background: transparent;
            border: 0;
            margin: 0;
            padding: 0;

            & + button {
                border-left: 1px solid rgba(255,255,255,0.1);
            }

            &:hover,
            &:focus {
                background: rgba(255,255,255,0.3);
            }
        }
    }
}

.translucent-bg {
    background: rgba(0,0,0,0.9);
}
